<tr><td>Needs Signoff</td><td><% status.${"Needs Signoff"}.count %></td></tr>
<tr><td>Signed Off</td><td><% status.${"Signed Off"}.count %></td></tr>
<tr><td>Passed QA</td><td><% status.${"Passed QA"}.count %></td></tr>
<tr><td>Failed QA</td><td><% status.${"Failed QA"}.count %></td></tr>
<tr><td>Patch Doesn't apply</td><td><% status.${"Patch doesn't apply"}.count %></td></tr>

